#myCanvas {
    background-image: url("images/lava.jpg");
z-index: -1;
    position: relative;
    left: 600px;
    top: 80px;
}

#mainH1{
    color: whitesmoke;
    text-align: center;
}
body{
    background-image: url("images/hell-7.jpg");
}




